#-mk-bookmark {
	background-color: transparent;
	border: 0;
	cursor: pointer;
	margin-right: 3px;
	height: 16px;
	vertical-align: bottom;
	width: 16px;
	position: absolute;
	right: 1px;
	top: 0px;
	z-index: 20;
}

#-mk-bookmark.mk-bookmarked {
	background-image: url('../images/star-lit4.png');
}

#-mk-bookmark.mk-bookmarked:hover {
	background-image: url('../images/star-lit-hover4.png');
}

#-mk-bookmark.mk-bookmark {
	background-image: url('../images/star-hover4.png');
}

#-mk-bookmark.mk-bookmark:hover {
	background-image: url('../images/star-active4.png');
}


