body {
	font: normal 13px arial, sans-serif !important;
	visibility: visible !important;
	padding: 0px !important;
	margin: 0px !important;
	cursor: pointer !important;
	min-height: 100px;
}

.a-j:hover,.c-G-j:hover {
	text-decoration: underline;
}

a:hover,a:active {
	text-decoration: underline;
}

a {
	color: #36C;
	cursor: pointer;
	text-decoration: none;
}

.a-j:hover,.c-G-j:hover {
	text-decoration: underline;
}

a:hover,a:active {
	text-decoration: underline;
}

.c-G-j {
	color: #36C;
	cursor: pointer;
}

.fj,.hl,.fj .il,.Id {
	color: #999;
}

.cg {
	font-weight: bold;
}

.Bl {
	display: none !important;
}

.jr {
	position: relative;
}

.Nm,.sharedNm {
	width: 50px !important;
	height: 50px !important;
}

.Nm img {
	width: 50px !important;
	height: 50px !important;
}

.sharedNm {
	position: absolute;
	left: 25px;
	top: 50px;
}

.sharedNm img {
	width: 25px !important;
	height: 25px !important;
}

/*
	hide edit
 */
.a-Q-j.Qw.Go {
	display: none !important;
}

.a-Ca {
	display: none !important;
}

/*
 top controls
 */
.Ex {
	position: absolute !important;
	top: 0px !important;
	left: 69px !important;
}

/*
 body
 */
.vg {
	position: absolute !important;
	top: 20px !important;
	left: 50px !important;
	width: 246px !important;
	height: 200px;
}

a {
	cursor: pointer !important;
}

.selected {
	background: -o-linear-gradient(top, #EEE, #E0E0E0);
	background: -webkit-gradient(linear, left top, left bottom, from(#EEE),
		to(#E0E0E0) );
	background: -moz-linear-gradient(top, #EEE, #E0E0E0);
	background: -o-linear-gradient(top, #EEE, #E0E0E0);
	border-color: #BBB;
	box-shadow: inset 0 1px 5px #ccc;
	-moz-box-shadow: inset 0 1px 5px #ccc;
	-webkit-box-shadow: inset 0 1px 5px #ccc;
	z-index: 2;
}

.clicked {
	border: 1px solid #D9D9D9;
}

.a-f-i-q {
	border-radius: 0px 0px 5px 0px;
	-moz-border-radius: 0px 0px 5px 0px;
	-webkit-border-bottom-right-radius: 5px;
	border-bottom: 1px solid #EBEBEB;
	border-right: 1px solid #EBEBEB;
}

.B-u-C {
	position: relative;
	margin-top: 5px;
}

.B-u-Y {
	position: relative;
	left: 18px;
	margin-top: -17px;
}

#object { /* border-left: 1px solid #EAEAEA; */
	border-left: 1px solid #4D90F0;
	padding-left: 5px;
}

.clear {
	clear: both;
	height: 1px;
	margin-bottom: -1px;
	font-size: 1px;
	line-height: 1px;
}

#-mk-visibility {
	background: no-repeat
		url(../images/common-full-409360b9a97ad562fbe42ae2a97a5eaf.png) 0
		-235px;
	width: 13px !important;
	height: 13px !important;
	background-color: transparent;
	border: 0;
	margin-right: 3px;
	vertical-align: bottom;
	position: absolute;
	left: 53px;
	top : 1px;
	z-index: 20;
}

#-mk-visibility.public {
	background-position: 0 -235px;
}

#-mk-visibility.limited {
	background-position: 0 -130px;
}

#-mk-visibility.extended {
	background-position: 0 -163px;
}

#-mk-visibility.locked {
	background-position: 0 -81px;
}

#-mk-visibility.corp {
	background-position: 0 -19px;
}

#-mk-visibility.circles {
	background-position: 0 -284px;
}

#-mk-visibility.circle {
	background-position: 0 -336px;
}



#-mk-tts {
	background: no-repeat
		url(../images/common-full-409360b9a97ad562fbe42ae2a97a5eaf.png) 0
		-235px;
	width: 13px !important;
	height: 13px !important;
	background-color: transparent;
	border: 0;
	margin-right: 3px;
	vertical-align: bottom;
	position: absolute;
	left: 3px;
	top : 53px;
	z-index: 20;
}

#-mk-tts.on {
	background-position: 0 -235px;
}

#-mk-tts.off {
	background-position: 0 -130px;
}